<a href="https://colab.research.google.com/github/2023Datascienc/DAPLearning2025/blob/main/DAP_Demo2_pandasintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

** Functions **

- A function in Python is a reusable block of code that performs a specific task. It is defined using the def keyword and can take inputs (parameters) and return an output.

In [ ]:
# Defining a function
def add(a, b):
    return a + b

result = add(3, 5)

In [ ]:
# Passing Information to a Function
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")

In [ ]:
# Passing Argument to a Function

#Positional Argument
def greet(name, age):
    print("Hello, my name is " + name + " and I am " + str(age) + " years old.")

greet("Alice", 25)

In [ ]:
# Multiple Functions Calls
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b

result1 = add(3, 5)
result2 = multiply(3, 5)
print(f"The adition of 3 and 5 is {result1} and the multiplication of 3 and 5 is {result2}")

In [ ]:
#Order Matters in Positional Arguments
def greet(name, age):
    print("Hello, my name is " + name + " and I am " + str(age) + " years old.")

greet(25, "Alice") # Function is expecting the first parameter to be of type text, and second to be of type numeric

In [ ]:
#Keyword Arguments
def greet(name, age):
    print("Hello, my name is " + name + " and I am " + str(age) + " years old.")

greet(age=25, name="Alice") # Order here does not matter because you directly associates the name and the value within the argument
#When you use keyword argument, be sure to use the exact names of the parameters in the function's definition

In [ ]:
#Default VAlues
def greet(name, age=40):
    print("Hello, my name is " + name + " and I am " + str(age) + " years old.")

greet(name="Alice")

In [ ]:
#Equivalent Function Calls
def add(a, b):
    return a + b

result1 = add(3, 5)
result2 = add(a=3, b=5)
result1==result2
#It doesn't really matter which calling style you use. As long as your function calls produce the output you want,
#just the style you find easiest to understand

In [ ]:
#Avoiding Argument Errors
def greet(name, age):
    print("Hello, my name is " + name + " and I am " + str(age) + " years old.")

greet("Alice") # TypeError: greet() missing 1 required positional argument: 'age' how to solve it?

In [ ]:
#Returning a Simple Value
def student_full_name(firstName, lastName=""): # Note: havins last name ="" so if we didn't provide last function is still working
    std_full_name = firstName + " " + lastName
    return std_full_name.title()

student = student_full_name('Mary', 'Carolina')
print(student)

In [ ]:
def get_your_full_name(first_name,  last_name, middle_name=""):
  if len(middle_name) > 0:
    full_name = first_name + " " + middle_name + " " + last_name
    return full_name.title()
  full_name = first_name + " " + last_name
  return full_name.title()
get_your_full_name("Maria", "Misoura")

In [ ]:
#Returning a dictionary
def get_hack_a_ton_data(group_name, grade):  # Change the returning if you think of better way
  return {
        "group_name": group_name,
        "grade": grade
    }

get_hack_a_ton_data("Maria", "Carolina")

In [ ]:
#Passing a list
def get_a_list (lst):  # Here the function is taking a list and combine its value.
  text=""
  for item in lst:
    text = text + item + " "
  return text

get_a_list(["Maria","Carolina", "NC"])

In [ ]:
#Modifying a list in a function # Skip this if you did not
#When we pas a list to function, does the origin list change as we manupilate the list within the function?
grades = [85, 93, 45, 89, 85]
def curved_grade(grades):
  for i in range(len(grades)):
    if grades[i] >= 90: # If the the value greater than 90 we curve it to 100
      grades[i] = 100
    elif grades[i] >= 80: #
      grades[i] = 90
    elif grades[i] >= 70: #
      grades[i] = 80
    else: #
      grades[i] = grades[i]+10
  return grades

new_grades=curved_grade(grades)
print(f"Original list: {grades}, new list: {new_grades}")
#Function can change the list
#What can we do to prevent the change and keep original list untouch?

In [ ]:
# Is there a way to prevent the original list from being manipulated within the function?
grades = [85, 93, 45, 89, 85]
def untouch_curved_grade(grades):
  new_grades=grades.copy()
  for i in range(len(new_grades)):
    if new_grades[i] >= 90:
      new_grades[i] = 100
    elif new_grades[i] >= 80:
      new_grades[i] = 90
    elif new_grades[i] >= 70:
      new_grades[i] = 80
    else:
      new_grades[i] = new_grades[i]+10
  return new_grades

new_grades=untouch_curved_grade(grades)
print(f"Original list: {grades}, New list: {new_grades}")

In [ ]:
#Anothe way to prevent a function from modifying a list
grades = [85, 93, 45, 89, 85]

new_grades=curved_grade(grades[:])
print(f"grades: {grades}, curved grades: {new_grades}")

In [ ]:
#Passing an Arbitrary Number of Arguments
#Sometimes we don't know how many elements or values want to pass to the list
def my_arg(*arg):
  return arg

l1=my_arg(1,2,3,4)
l2=my_arg(1)
print(f"l1 is {l1}\nl2 is {l2}")

In [ ]:
# Do Sum
def do_sum(*args):
    total = 0
    for num in args:
        total += num
    return total


result = do_sum(1, 2, 3, 4, -5)
print(result)

In [ ]:
#We need function to handle the data you are providing into it.
#Sometimes, you won't know how many info you are getting to use in the function.
#For this reason you can use something called Arbitrary Keyword Argument
#function that looks like this your_function(field_you_know, **filed_you_don't_know_but_expected)
# ** field will be treated as a dictionary

def student_profile(first_name,last_name,grade,**additional_info):
  additional_info['first_name']=first_name
  additional_info['last_name']=last_name
  additional_info['grade']=grade
  return additional_info

print(student_profile("Mohamed", "Shahid",100))
print(student_profile("Mohamed", "Shahid",100,comment ='This is a great grade')) # Look at the name of argument
print(student_profile("Mohamed", "Shahid",100,location="U.S.", comment ='This is a great grade'))

In [ ]:
# Mixing Positional and Arbitrary Arguments
def grade_result(pass_grade,*numbers):
  t=0
  total_number_passed=len(numbers)
  for i in range(0,total_number_passed):
    t+=numbers[i]
  if t/total_number_passed>pass_grade:
    r='Pass'
  else:
    r='Fail'
  return r

result=grade_result(80, 20,30,140,150)
print(result)



```
# This is formatted as code
```

# Breakout Rooms Ex

 **Scenario:**

As a Data Analyst, you need to check a dataset for missing values, duplicates, and extreme values.

Task: Write a function **data_quality_check**

This function should:

* Count missing values (None) in the dataset.

* Count duplicate values in the dataset.

* Find extreme values (values greater than 1500, assuming it's an unusually high number).

* Return a summary as a dictionary.

In [ ]:
# Sample sales data (with some missing values, duplicates, and extreme values)
sales_data = [120, 300, None, 500, 300, 750, 800, 500, 120, None, 2000, 150, 400, 200, 3000, 4000, 5000, 5000, None]

final_data = [120, 300, None, 500, 300, 2000, 150, 400, 200, 3000, 4000, 5000, 5000, None]

In [ ]:
# @title

def data_quality_check(data):
    missing_values = 0         # Store total missing value
    duplicates = 0              # Store total duplicated value
    extreme_values = 0          # Store total extrem value
    seen = set()
    duplicate_values = []       # Store duplicate values
    extreme_values_list = []    # Store extreme values
    for value in data:
        if value is None:
            missing_values += 1
            duplicates +=1      # Count None as a duplicate
            duplicate_values.append(value)
        elif value in seen:
            duplicates += 1
            duplicate_values.append(value)          # Add duplicate to the list
        elif value > 1500:
            extreme_values += 1
            extreme_values_list.append(value)       # Add extreme value to the list
        seen.add(value)
    summary = {
        'missing_values': missing_values,
        'duplicates': duplicates,
        'duplicate_values': duplicate_values,       # Add duplicate values to summary
        'extreme_values': extreme_values,
        'extreme_values_list': extreme_values_list  # Add extreme values to summary
    }
    return summary

In [ ]:
# @title

data_quality_check(final_data)

In [ ]:
# @title
import pandas as pd

colm = ["Total"]

df = pd.DataFrame(sales_data, columns=colm)
df

In [ ]:
# @title
df[df['Total'].isna()]

In [ ]:
# @title
df[df['Sales'].duplicated()]

In [ ]:
df[df['Sales'] > 1500]

In [ ]:
# @title
df[df['Sales'] > 1500].value_counts()

In [ ]:
# @title
import pandas as pd

def data_quality_check(data):
    df = pd.DataFrame(data, columns=['Sales']) # Create DataFrame inside function
    missing_values = df['Sales'].isna().sum()

    # Get duplicate values as a list
    duplicates_df = df[df['Sales'].duplicated(keep='first')]  # Keep all duplicates
    duplicate_values = duplicates_df['Sales'].tolist()
    duplicates = len(duplicate_values)

    # Get extreme values as a list
    extreme_values_df = df[df['Sales'] > 1500]
    extreme_values_list = extreme_values_df['Sales'].tolist()
    extreme_values = len(extreme_values_list)

    summary = {
        'missing_values': missing_values,
        'duplicates': duplicates,
        'duplicate_values': duplicate_values,
        'extreme_values': extreme_values,
        'extreme_values_list': extreme_values_list
    }
    return summary

In [ ]:
final_data = pd.DataFrame([data_quality_check(sales_data)]) # Pass a list to DataFrame

display(final_data) # Use display to show in Jupyter

# Intro to Pandas

![pandas.avif]()

vs

![pandas-img.png]()

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv("/content/student-mat.csv")

In [ ]:
df.head(n=5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences_G1,absences_G2,absences_G3,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,1.0,1.0,4.0,5,6,6
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,NaN,NaN,NaN,5,5,6
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,1.0,1.0,8.0,7,8,10
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,0.0,0.0,2.0,15,14,15
4,GP,F,NaN,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,0.0,0.0,4.0,6,10,10

In [ ]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences_G1,absences_G2,absences_G3,G1,G2,G3
390,MS,M,20.0,U,LE3,A,2,2,services,services,...,4,4,5,4,1.0,1.0,9.0,9,9,9
391,MS,M,17.0,U,LE3,T,3,1,services,services,...,5,3,4,2,0.0,0.0,3.0,14,16,16
392,MS,M,21.0,R,GT3,T,1,1,other,other,...,3,3,3,3,0.0,0.0,3.0,10,8,7
393,MS,M,18.0,R,LE3,T,3,2,services,other,...,1,3,4,5,NaN,NaN,NaN,11,12,10
394,MS,M,19.0,U,LE3,T,1,1,other,at_home,...,3,3,3,5,0.0,0.0,5.0,8,9,9

In [ ]:
df.shape

(395, 35)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school       395 non-null    object
 1   sex          395 non-null    object
 2   age          383 non-null    float64
 3   address      395 non-null    object
 4   famsize      395 non-null    object
 5   Pstatus      395 non-null    object
 6   Medu         395 non-null    int64
 7   Fedu         395 non-null    int64
 8   Mjob         395 non-null    object
 9   Fjob         395 non-null    object
 10  reason       395 non-null    object
 11  guardian     395 non-null    object
 12  traveltime   395 non-null    int64
 13  studytime    395 non-null    int64
 14  failures     395 non-null    int64
 15  schoolsup    395 non-null    object
 16  famsup       395 non-null    object
 17  paid         395 non-null    object
 18  activities   395 non-null    object
 19  nursery      395 non-null    object
 20  higher       395 non-null    object
 21  internet     395 non-null    object
 22  romantic     395 non-null    object
 23  famrel       395 non-null    int64
 24  freetime     395 non-null    int64
 25  goout        395 non-null    int64
 26  Dalc         395 non-null    int64
 27  Walc         395 non-null    int64
 28  health       395 non-null    int64
 29  absences_G1  381 non-null    float64
 30  absences_G2  381 non-null    float64
 31  absences_G3  381 non-null    float64
 32  G1           395 non-null    int64
 33  G2           395 non-null    int64
 34  G3           395 non-null    int64
dtypes: float64(4), int64(14), object(17)
memory usage: 108.1+ KB

In [ ]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences_G1,absences_G2,absences_G3,G1,G2,G3
count,383.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,381.000000,381.000000,381.000000,395.000000,395.000000,395.000000
mean,16.699739,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,0.669291,0.669291,4.325459,10.908861,10.713924,10.415190
std,1.280615,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,1.300132,1.300132,5.526882,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,0.000000,0.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,1.000000,1.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,12.000000,12.000000,51.000000,19.000000,19.000000,20.000000

In [ ]:
grade_1 = df[['G1', 'G2', 'G3']]

In [ ]:
grade_1

     G1  G2  G3
0     5   6   6
1     5   5   6
2     7   8  10
3    15  14  15
4     6  10  10
..   ..  ..  ..
390   9   9   9
391  14  16  16
392  10   8   7
393  11  12  10
394   8   9   9

[395 rows x 3 columns]

# A Series is a one-dimensional labeled array capable of holding data of any type, such as integers, strings, or floating-point numbers

In [ ]:
s1 = pd.Series(data1)

In [ ]:
s1

# DataFrame is a two-dimensional labeled data structure, essentially a table composed of rows and columns

In [ ]:
s2 = pd.Series([1,2,3,4,5,6],  index=['ab','bc','cd','d','e','f'])

In [ ]:
s2

ab    1
bc    2
cd    3
d     4
e     5
f     6
dtype: int64

# Creating Dataframe from list

In [ ]:
calories = [450, 600, 300, 2000]
duration = [6,7,4, 10]

my_df = pd.DataFrame({'calories': calories, 'duration': duration})

In [ ]:
my_df

   calories  duration
0       450         6
1       600         7
2       300         4
3      2000        10

In [ ]:
my_df_2 = pd.DataFrame(list(zip(calories, duration)), columns=['calories', 'duration'])

In [ ]:
my_df_2

   calories  duration
0       450         6
1       600         7
2       300         4
3      2000        10

In [ ]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences_G1', 'absences_G2', 'absences_G3', 'G1',
       'G2', 'G3'],
      dtype='object')

# Column Selection

# Welcome Back!

In [ ]:
my_df_2['dur']

In [ ]:
df.head(10)

## The 'loc' function is mainly used when we want to select rows and columns based on their labels. Whereas 'iloc' is used when choosing rows and columns based on specific positions aka index

In [ ]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences_G1,absences_G2,absences_G3,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,1.0,1.0,4.0,5,6,6
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,NaN,NaN,NaN,5,5,6
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,1.0,1.0,8.0,7,8,10
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,0.0,0.0,2.0,15,14,15
4,GP,F,NaN,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,0.0,0.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,1.0,1.0,9.0,9,9,9
391,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,0.0,0.0,3.0,14,16,16
392,MS,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,0.0,0.0,3.0,10,8,7
393,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,NaN,NaN,NaN,11,12,10
394,MS,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,0.0,0.0,5.0,8,9,9

In [ ]:
df.loc[0]

school              GP
sex                  F
age               18.0
address              U
famsize            GT3
Pstatus              A
Medu                 4
Fedu                 4
Mjob           at_home
Fjob           teacher
reason          course
guardian        mother
traveltime           2
studytime            2
failures             0
schoolsup          yes
famsup              no
paid                no
activities          no
nursery            yes
higher             yes
internet            no
romantic            no
famrel               4
freetime             3
goout                4
Dalc                 1
Walc                 1
health               3
absences_G1        1.0
absences_G2        1.0
absences_G3        4.0
G1                   5
G2                   6
G3                   6
Name: 0, dtype: object

In [ ]:
df.loc[0,'G3']

np.int64(6)

In [ ]:
df.shape

(395, 35)

# Each room will be a group based on the data below, then find the mean, min, and max.

In [ ]:
group1 = df.loc[0:100]
group2 = df.loc[101:250]
group3 = df.loc[250:394]

In [ ]:
print('-------- Group 1 ----------')
print(f"the average age is: {round(group1['age'].mean(),2)}")

-------- Group 1 ----------
the average age is: 15.53

(395, 35)

In [ ]:
df.loc[0:3 , 'absences_G1': 'G3']

   absences_G1  absences_G2  absences_G3  G1  G2  G3
0          1.0          1.0          4.0   5   6   6
1          NaN          NaN          NaN   5   5   6
2          1.0          1.0          8.0   7   8  10
3          0.0          0.0          2.0  15  14  15

In [ ]:
df.iloc[0:4 , -6:]

# Conditional Filtring

In [ ]:
df[df['G3'] >=10]