# **Python Demo: Getting Started from Scratch. Part I**

## 1. Introduction to Python

* What is Python?

    Python is a high-level, interpreted programming language known for its simplicity and readability.

* Why use Python?

    Python is easy to learn, versatile, and widely used in web development, data science, AI, and automation.

## 2. Variables & Data Types

Variables store data in memory, and Python is dynamically typed.

In [ ]:
x = 13 # Integer
print("type of variable is ", type(x))
x="DAP Pro Progam"  # Text or String
print("type of variable is ", type(x))
print("Python is Dynamically typed")

In [ ]:
# Naming and using variables
# Letters, numbers, and underscores. Space are not allowed
#Avoid using Python Keywords. Those are Python reserved words such as "print"
# Variable name should short and descrptive

name = "Alice"   # String
age = 25         # Integer
height = 5.7     # Float
is_student = True  # Boolean

print(name, age, height, is_student)

In [ ]:
grade_1=89
grade_2=90
avg=(grade_1+grade_2)/2
print(avg) # what I want to present

In [ ]:
#Errors when using variables
welcome ="Welcome everyone!"
print(Welcome)
# ----------------------------------------
#Output
# NameError                                 Traceback (most recent call last)
# <ipython-input-4-6aa22a3327dd> in <cell line: 0>()
#       1 #Errors when using variables
#       2 msg="Welcome everyone!"
# ----> 3 print(Msg)

# NameError: name 'Msg' is not defined

In [ ]:
start_coding="Let me learn Python"
StartCoding = "Let me learn Java"

## Common Data Types in Python:

int (Integer) → age = 25

float (Decimal) → pi = 3.14

str (String) → message = "Hello"

bool (Boolean) → is_active = True

## 3. Working with Strings

Strings are sequences of characters, and Python provides powerful ways to manipulate them.

In [ ]:
text = "Python is fun!"
print(text.upper())  # Convert to uppercase
print(text.lower())  # Convert to lowercase
print(text.replace("fun", "awesome"))  # Replace a word
print(text[0:9])  # Slicing (First 6 characters)

In [ ]:
first_name = " Maria"
last_name = "Brown "
full_name = f"{first_name} {last_name}"
print(full_name)
full_name = f"{first_name.lstrip()} {last_name.rstrip()}"
print(full_name)

In [ ]:
print(f"Hello word!")

In [ ]:
print(f"Hello, {full_name.title()}")

**For more details:** [Click here](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
# Avoid Syntax Errors with Strings
msg='The DAP is aiming to teach dynamic contents'
print(msg)
# msg='The DAP's strategy is to teach dynamic contents' # What goes wrong here?

##**Numbers**

In [ ]:
# We can add (+), substract (-), divide (/), and multiply (*) integers in Python
print(f"(13+7) = {13+7},\n(13-7) = {13-7},\n(13/7) ={13/7},\n(13*7) = {13*7})")

In [ ]:
x=5//2
print(x)
print(type(x))

In [ ]:
#Python calls any number with a decimal point a float.
0.1+0.2  # 0.30000000000000004  why?

In [ ]:
# Integers Vs Float
print(4/2) # Result in float
print(type(4/2), " ---> float")
print(1+1.0001) # result in float
print(type(1+1.0001), " ---> float")
print(4//2) # Result in integer
print(type(4//2), " ----> intger")

In [ ]:
print(1000, 1_000) # underscore will help when you are dealing with long numbers
name, age = "John", 25
print(name, age)  # Multiple assignment at once
MAX_CAPACITY = 100 # Constant is like a variable whose value stays the same throughout the life of the program.
print(MAX_CAPACITY) # Can you change it? Yes, so we call it constant variable then?

**The Zen of Python**

In [ ]:
import this # the word import used when we want to call a package

#**Into Data Structure & If Statement**

## What is a list in Python?

A list is an ordered, mutable collection:

## What is a tuple?

A tuple is an immutable (unchangeable) collection

## What is a set?

A set is an unordered collection of unique elements

## What is a dictionary?

A dictionary stores key-value pairs

## What is an if statement used for?

It controls code execution based on conditions:

### 1. Lists (Ordered Collection)

Concept: Lists store multiple items in a single variable and allow modification.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Add an item
fruits.remove("banana")  # Remove an item
fruits[0] = "grape"  # Modify an item
print(fruits)

In [ ]:
print(fruits[0])
print(fruits[0].title())
print(fruits[-1])

In [ ]:
# Check with indexes: List index starts at 0 not 1
#Chaning, adding, removing elements
my_best_movies = ["Movie1", "Movie2", "Movie3"]
print(f"Original list: ", my_best_movies)
my_best_movies[0]="movie4".title() # changing or updating
print(f"Updated first elem in the list: ", my_best_movies)
my_best_movies.append("Movie5") # adding --> Appending element to the end of the list
print(f"Append elem at the end: ", my_best_movies)
my_best_movies.remove("Movie2") # removing using the name of the value
print(f"Remove elem (Movie2) ", my_best_movies)
del my_best_movies[0] # removing. If you know exact index, you can remove elem using del
print(f"Remove first elem: ", my_best_movies)
removed_elem = my_best_movies.pop(0) # removing using pop. removing last elem in the list by default
print(f"Remove elem at given index, : ", my_best_movies)
print(f"Removed elem: ", removed_elem)
my_best_movies.insert(0, "Movie6") # inserting element at specifc index
print(f"Insert elem at the position 0: ", my_best_movies)

Lists support indexing, slicing, iteration, and various built-in functions.

###**Organizing a List**

In [2]:
# Make a list of fruits
fruits=["Orange", "Banana", "Apple", "Peach"]
#Sorting a list temporarly using sorted()
print(sorted(fruits))
print("Does original list change: ", fruits)
# Order the list
fruits.sort()
print(fruits)
# Reverse the order of the list
fruits.sort(reverse=True)
print(fruits)
#Printing a list in Reverse Order
fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Orange', 'Peach']
Does original list change:  ['Orange', 'Banana', 'Apple', 'Peach']
['Apple', 'Banana', 'Orange', 'Peach']
['Peach', 'Orange', 'Banana', 'Apple']
['Apple', 'Banana', 'Orange', 'Peach']

In [3]:
# Finding the length of a list
print(len(fruits))
# Creating a numerical list using range
numbers=list(range(1,20))
print(numbers)
odd_numbers=list(range(1,20,2))
print(odd_numbers)
even_numbers=list(range(0,20,2))
print(even_numbers)
min(numbers)
max(numbers)
sum(numbers)
# List comprehensions
squares = [value**2 for value in range(1, 11)]
print(squares)

4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#Slicing List
print(numbers[0:9]) # Try using numbers[:3], numbvers[10:], numbers[-3:]
numbers[-3:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[17, 18, 19]

In [7]:
# Asking user to enter number
enter_number = input("Enter a number: ")
print(f"You entered: {enter_number}")

Enter a number: 23
You entered: 23

In [9]:
copy1= numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 23]

In [8]:
numberAsCopy=numbers[:] # First way to make copy
numbersAsCopy_1=numbers.copy() # Alternative way to make copy
numberAsCopy.append(21)
numbersAsCopy_1.append(22)
print(numbers)
print(numberAsCopy)
print(numbersAsCopy_1)
print(numbers==numberAsCopy)
print(numbers==numbersAsCopy_1)
print("-"*10)
numbersAsRef=numbers # Second way to make copy
numbersAsRef.append(23)
print(numbers)
print(numbersAsRef)
print(numbers==numbersAsRef)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22]
False
False
----------
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 23]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 23]
True

# where we stopped last week in 2025

---

In [12]:
print(f"this is my list {fruits}")

this is my list ['Apple', 'Banana', 'Orange', 'Peach']

In [15]:
# Checking if a value in the list
print("Orange1" in fruits)
print("Orange1" not in fruits)

False
True

In [18]:
if "Orange" in fruits:
  print("Orange is in the list")

Orange is in the list

In [17]:
# Boolean Expression
print(1==2)
print(1!=2)
print(1>2)
print(1<2)
print(1>=2)
print(2<=2)

False
True
False
True
False
True

In [96]:
from random import randint  # Again!!! using Import?
random_number = randint(1, 100)
print(random_number)

35

In [97]:

# Wawnted a random numbers from 80 to 100 to form a list of 10 elements
random_numbers = [randint(80, 100) for _ in range(10)] # For groups, why we have _?
print(random_numbers)

[82, 82, 91, 100, 98, 84, 94, 93, 86, 100]

In [ ]:
# Ex1 - Breakout rooms
# Create a randomlist with 20 elements. the values should be between 75 and 100.
# Come up with min, average, and max
# Copy the original list and drop the first and last number
# calculate the min, avg, and max for the copy list
# Calculate the size of both list

In [98]:
if random_numbers:
    print("List is not empty")
else:
    print("List is empty")

List is not empty

In [99]:
len(random_numbers)

10

In [100]:
# How to check a list in Not Empty?


#Alternative way
if len(random_numbers) > 0:
    print("List is not empty")
else:
    print("List is empty")

List is not empty

## 2. Tuples (Immutable Collection)

Tuples are like lists but cannot be modified after creation.

In [7]:
# Using a tuple as a dictionary key
coordinates = {
    (35.6895, 139.6917): "Tokyo",
    (40.7128, -74.0060): "New York",
    (48.8566, 2.3522): "Paris"
}

# Looking up a location using tuple keys
print(coordinates[(40.7128, -74.0060)])  # Output: New York

New York

In [105]:
coordinates = (10.3 , 20.5)

print(coordinates[1])

20.5

In [106]:
coordinates[0] = 10.4

TypeError: 'tuple' object does not support item assignment

*Why the error?*

In [108]:
coordinates[1]=10
coordinates

TypeError: 'tuple' object does not support item assignment

In [111]:
#Defin a tuple:
my_tuple = (1,1)
print(my_tuple)
#Transforming from list to tuple
numbers=[1,1,2,3,4]
my_tuple=tuple(numbers)
print(my_tuple)

(1, 1)
(1, 1, 2, 3, 4)

## 3. Sets (Unique Collection)

Sets store unique elements and do not allow duplicates. Does list and Tuple allow duplicates?

In [113]:
unique_numbers = { 1, 2, 3, 4, 4, 2}
unique_numbers.add(5)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

## 4. Dictionaries (Key-Value Pairs)

A dictionary holds data in key: value pairs for fast lookup.

In [125]:
student = {
    "name": "John",
    "age": 20,
    "grade": 99,
}

In [128]:
student['age']

20

In [121]:
print(student["grade"])

99

In [122]:

# Output: John
student["age"] = 21  # Update value
print(student["age"])
print(student)

21
{'name': 'John', 'age': 21, 'grade': 99}

In [123]:
print(student.get("name"))
print(student.get("age"))
print(student.get("grade"))

John
21
99

In [131]:
# Aceessing values in a dictionnary

# How about if we have more data for students
students = [
    {"name": "Alice", "age": 20, "grade": "A"},
    {"name": "Bob", "age": 22, "grade": "B"},
    {"name": "Charlie", "age": 21, "grade": "C"},
    {"name": "Bob" , "age": 24, "grade": "A"}
]
print(f"Students Info: {students}")

Students Info: [{'name': 'Alice', 'age': 20, 'grade': 'A'}, {'name': 'Bob', 'age': 22, 'grade': 'B'}, {'name': 'Charlie', 'age': 21, 'grade': 'C'}, {'name': 'Bob', 'age': 24, 'grade': 'A'}]

In [136]:
students[[0:'grade']] =

In [137]:
students

[{'name': 'Alice', 'age': 20, 'grade': 'B'},
 {'name': 'Bob', 'age': 22, 'grade': 'B'},
 {'name': 'Charlie', 'age': 21, 'grade': 'C'},
 {'name': 'Bob', 'age': 24, 'grade': 'A'}]

In [138]:
# Can a dictionnary have the same key? You can have it but the dictionnary will pick the last key
my_dict = {"name": "Alice", "age": 25, "name": "Bob", "name":"Ali"}
print(my_dict["name"])

# Can a dictionnary have the same value for different keys? Yes
my_dict = {"name": "Alice", "Approximate Age": 25, "Current age": 25}
print(my_dict)

# Can we add data to the dictionnary? Yes
my_dict["Favorite Food"] = "Pizza"
print(my_dict)

Ali
{'name': 'Alice', 'Approximate Age': 25, 'Current age': 25}
{'name': 'Alice', 'Approximate Age': 25, 'Current age': 25, 'Favorite Food': 'Pizza'}

In [ ]:
# Dictionnary starting from scratch
my_dict = {}
my_dict["name"] = "Alice"
my_dict["age"] = 25
print(my_dict)
# Extending the values
my_dict["age"] += 5
print(my_dict)

In [ ]:
# Removing key-value Pairs
del my_dict["age"]
print(my_dict)

In [ ]:
# Dictionnary with the same Objects
student_info = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"},
    "Charlie": {"age": 21, "grade": "C"}
}
# Ask a user to enter a name and give the user choice what they're looking for: Ex. Alice, grade
name = input ("Enter a name: ")
if name in student_info:
  print(f"Student grade: {student_info[name]['grade']}")
else:
  print("Sorry! Name you entered does not exist! ")

In [25]:
# Flipping between keys and values
favorite_languages = {
    "Alice": "Python",
    "Bob": "Java",
    "Charlie": "Python",
    "David": "C++",
    "Eve": "Python",
    "Frank": "Java",
    "Grace": "C++"
}
# Sometimes, you should build up your dictionnary in a way that will help you
# Come back to this example after you understand the For Loop / While
flipped_dict = {}
# Capturing the languages
languages=set(lang for lang in favorite_languages.values())
print(languages)

{'Java', 'Python', 'C++'}

In [29]:
# Capturing the names
names=set(name for name in favorite_languages.keys())
print(names)

{'Alice', 'Bob', 'Frank', 'Eve', 'David', 'Grace', 'Charlie'}

In [ ]:
# Using get() to access values
student = {"name": "Alice", "age": 20}
print(student.get("name"))  # Output: Alice
print(student.get("grade"))  # Output: None
# Let's not to use get and see what happen
print(student["grade"])  # Output: KeyError: 'grade'

In [ ]:
print(student.get("grade", "Value does not exist"))  # Output: None   # Get can be more useful

## Conditional Statements (if-elif-else)

Execute different blocks of code based on conditions

In [145]:
age = int(input("What's your are: "))
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

What's your are: 12
You are a minor.

In [149]:
# More than one if
age = 14
if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
else:
    print("You are a minor.")

You are a teenager.

In [150]:
msg = "Check for Equality 1==2"
result = 1==2
print(f"{msg}: {result}")
msg = "Check for Inequality 1!=2"
result = 1!=2
print(f"{msg}: {result}")
msg = "Greater Than 1>2"
result = 1>2
print(f"{msg}: {result}")
msg = "Less Than 1<2"
result = 1<2
print(f"{msg}: {result}")
msg = "Greater Than or Equal 1>=2"
result = 1>=2
print(f"{msg}: {result}")
msg = "Less Than or Equal 1<=2"
result = 1<=2
print(f"{msg}: {result}")
msg = "Multiple Conditions 1<2 and 2<3"
result = 1<2 and 2<3
print(f"{msg}: {result}")
msg = "Multiple Conditions 1<2 or 2<3"
result = 1<2 or 2<3
print(f"{msg}: {result}")

Check for Equality 1==2: False
Check for Inequality 1!=2: True
Greater Than 1>2: False
Less Than 1<2: True
Greater Than or Equal 1>=2: False
Less Than or Equal 1<=2: True
Multiple Conditions 1<2 and 2<3: True
Multiple Conditions 1<2 or 2<3: True

In [151]:
# using or to check multiple conditions
requirement = ["soft skills", 'tech skills', "Transferable skills"]
if 'soft skills' in requirement or 'tech skills' in requirement:  # Using OR
    print("Great fit.")

if 'soft skills' in requirement and 'Critical skills' in requirement:  # Using AND
    print("Great fit.")
else:
  print("Don't have the right skills")

Great fit.
Don't have the right skills

## Loops (For & While Loops)

In [153]:
# For Loop Ex
numbers = [1, 2, 3, 4, 1, 5, 3, 6]
for num in numbers:
    print(num)

1
2
3
4
1
5
3
6

In [ ]:
#using for loop to wlak through 2 lists
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for i in range(len(names)):
    print(f"{names[i]} is {ages[i]} years old.")

In [ ]:
for i in range(0, len(numbers)):
  print(numbers[i])

In [ ]:
# while loop Ex
count =0
while count <5:
  print("Count: ", count)
  count +=1

# Exercise Plan: Cleaning and Analyzing Sales Data
Objective:
Practicing working with lists, tuples, sets, and dictionaries while using loops (for, while) and if-statements to clean and analyze messy sales data.

# Scenario:
A company collects sales data, but the data is messy. Some values are missing, there are duplicate entries, and some sales amounts are incorrect. Your task is to clean and analyze the data.

In [56]:
# This is a Self-Assignment (Not a group - Assignment) Due Date: Friday, February 14.
# --------------------------------------------------------------------------Step 1: Get familiar with data
sales_list = [
    ("John", "NY", 150),
    ("Alice", "CA", 200),
    ("Bob", "TX", 300),
    ("John", "NY", None),  # Missing sales value
    ("Alice", "CA", 200),  # Duplicate entry
    ("Emma", "FL", -50),   # Incorrect value
    ("Sam", "NY", 100),
    ("David", "TX", None), # missing value
    ("Emma", "FL", 250),
    ("Bob", "TX", 300)  # Duplicate entry
]
# --------------------------------------------------------------------------Step 2: Clean the Data
# Remove duplicate records
# Remove records where sales are missing (None values)
# Fix incorrect values (e.g., sales cannot be negative)
# ------------------Hints:
# Use a set to store unique records.
# Use a loop to check for invalid data.
# Use an if-statement to remove or fix incorrect values.

# --------------------------------------------------------------------------Step 3: Store Clean Data in a Dictionary
# Use a dictionary to store total sales per state.

# --------------------------------------------------------------------------Step 4: Find the Best Salesperson
# Identify the person with the highest sales.
# ---------------------------------------------------------------------------Ddeadline: Friday, February 14.

In [57]:
sales_list_copy = sales_list.copy()

In [59]:
# sum_num = 0
# for i in range(len(sales_list_copy)):
#   sum_num = sum_num + sales_list_copy[i][2]

# avg = sum_num / len(sales_list_copy)
# print(avg)
# print(sum_num)

In [60]:
sales_list_copy

[('John', 'NY', 150),
 ('Alice', 'CA', 200),
 ('Bob', 'TX', 300),
 ('John', 'NY', None),
 ('Alice', 'CA', 200),
 ('Emma', 'FL', -50),
 ('Sam', 'NY', 100),
 ('David', 'TX', None),
 ('Emma', 'FL', 250),
 ('Bob', 'TX', 300)]

In [54]:
cleaned_sales_list = []

for sale in sales_list_copy:
    # Check if the sales value is not None and not negative
    if sale[2] is not None:
        # If valid, add the sale to the cleaned list
        cleaned_sales_list.append(sale)

sales_list_copy = cleaned_sales_list

In [55]:
sales_list_copy

[('John', 'NY', 150),
 ('Alice', 'CA', 200),
 ('Bob', 'TX', 300),
 ('Alice', 'CA', 200),
 ('Emma', 'FL', -50),
 ('Sam', 'NY', 100),
 ('Emma', 'FL', 250),
 ('Bob', 'TX', 300)]

In [67]:
total_sum = 0
for item in cleaned_sales_list:
  # total_sum = total_sum + item[2]
  total_sum += item[2]

agv = total_sum / 8
print(f" avg is {total_sum / len(cleaned_sales_list)}")

 avg is 181.25